node_modules/
*/**/node_modules/
coverage/
.nyc_output/
dist/
build/
umd/
*/**/dist/

typedoc/

*/**/yarn.lock
yarn-error.log
*/**/package-lock.json
package-lock.json

.DS_Store
.idea
.vscode/

npm-debug.log

# System Files
.DS_Store
Thumbs.db
